body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
/*--- main page of app ---*/
.top-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 128, 128);
    display: flex;
    align-items: center;
}
.add-btn, .search-btn {
    width: 40px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.add-btn img, .search-btn img {
    margin-top: 15px;
    margin-left: 15px;
}
.search-inp {
    width: auto;
    height: 30px;
    background-color: rgb(237, 249, 247);
    border: none;
    display: none;
}
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 249, 247);
}
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 214, 207);
    width: calc(100% - 8px);
    height: 50px;
    max-height: 50px;
    margin-top: 4px;
    
}
.note-item {
    margin-left: 8px;
    width: 100%;
}
.submenu-item, .submenu-option {
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.submenu-item img {
    margin-top: 14px;
}
.submenu-option img {
    margin-top: 8px;
}
.submenu {
    display: none;
    flex-direction: column;
    background-color: rgb(0, 128, 128);
    text-align: center;
}
.submenu hr {
    background: rgb(237, 249, 247);
    width: 80%;
    border: 0;
    height: 2px;
}
/*--- note page ---*/

.hide-box {
    display: none;
}
.arrow-btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.arrow-btn img {
    margin-top: 15px;
    margin-left: 10px;
}
.text-box textarea {
    padding: 3px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 249, 247);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}